html {
    /* color: red; */
    height: 100vh;
    width: 100vw;
    background: rgb(162, 151, 151);
}
html:hover {
    cursor: url('public/note.png'), auto;
}


body {
    margin: 0;
    font-family: Times, 'Times New Roman', sans-serif;
}

.topbar { 
    padding: 32px;
    width: 100%;
    height: 1em;
    font-size: 1rem;
    position: fixed;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    padding-top: 128px;
    padding-left: 32px;
    padding-right: 8px;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    font-size: 0.75em;
}
.timeline-date {
    margin-right: 48px;
    opacity: 0.3;
    font-family: Arial, Helvetica, sans-serif;
}

.timeline-headline {
    font-size: 1.25em;
}

.timeline-headline a {
    color: black;
    text-decoration: none;
}
.timeline-headline:hover a{
    cursor: pointer;
    text-decoration: underline;
}

.cai-logo {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.ray-one,.ray-two,.ray-three {
    fill: none;
    stroke-width: 4px;
}

.lattice-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow interaction with elements behind */
}

.lattice-dot {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: black; /* Color of the lattice dots */
}

/* Adjust the spacing between lattice dots as needed */
.lattice-dot:nth-child(4n+1) {
    top: 20px;
}
.lattice-dot:nth-child(4n+2) {
    top: 40px;
}
.lattice-dot:nth-child(4n+3) {
    top: 60px;
}
.lattice-dot:nth-child(4n+4) {
    top: 80px;
}

.lattice-dot:nth-child(odd) {
    left: 20px;
}
.lattice-dot:nth-child(even) {
    left: 40px;
}
